

:root {
  font-family: "SF Pro Text", "SF Pro Icons", Inter, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

  --bg-color: white;
  --card-bg: #333;
  --normal-color: #f9f9f9;
  --normal-placeholder: #b0b0b0;
  --disable-color: #666;
  --whatever-color: #686868;

  --normal-font: 17px;
  --mini-font: 15px;
}

body {
  padding: 0;
  margin: 0;
}

input {
  background: transparent;
  border: 0;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}